{% load static %}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">

  <table class="w3-table-all w3-centered" style="margin-top:43px; ">
		  <tr>
		    <td>Name</td>
		    <td>{{plant.name}}</td>
		  </tr>
		  <tr>
		    <td>Soil Moisture</td>
		    <td>{{plant.soil_moisture_set.last.sm_value}}</td>
		  </tr>
		  <tr>
		    <td>Geo-Coordinates</td>
		    <td>({{plant.latitude}},{{plant.longitude}})</td>
		  </tr>
		    <td>Age</td>
		    <td>{{age}} days</td>
		  </tr>
		  <tr>
		    <td>Last Watered</td>
		    <td>{{actuator.time}}</td>
		  </tr>
		  <tr>
		    <td>Actuator Status</td>
		    <td>{{actuator.status}}</td>
		  </tr>
	</table>

</div>
</html>
