{% load static %}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">

  <table class="w3-table-all w3-centered" style="margin-top:43px; ">
		  <tr>
		    <td>Water Body</td>
		    <td>{{wb.name}}</td>
		  </tr>
		  <tr>
		    <td>Water Level</td>
		    <td>{{wb.water_level_set.last.water_level}}</td>
		  </tr>
	</table>

</div>
</html>
