<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Water Level'],
          {% for i in wb.water_level_set.all %}
            ['{{i.time}}',  {{i.water_level}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Water Level History',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body style="padding: 0px;">
    <div id="chart_div" style="width: 100%; height: 100%;"></div>
<!--script>
var myVar = setInterval(myTimer, 5000);
function myTimer() {
  location.reload();
}
</script!-->
  </body>
</html>